body {
    background-color: rgb(0, 89, 255);
    overflow-y: hidden;
}

@font-face {
    font-family: 'Gotham_Font';
    src: url('Fonts/Gotham/Gotham Light/Gotham Light.otf') format('opentype'),
}





/*Personal and user id chat*/

#Currently_Chatting_User {
    position: absolute;
    left: 69px;
    top: 69px;
    z-index: 0;
}






/*Personal and user id chat*/





/*Inactivity Container*/

#Inactive_Container {
    position: absolute;
    width: 350px;
    height: 200px;
    z-index: 21;
    left: 45%;
    top: 30%;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0 100vw 100vh rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: none;
}


#timeout_Img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 10px;
    filter: brightness(50%);
}

#Inactive_Text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 50px;
    font-family: "Gotham_Font", sans-serif;
    font-size: 15px;
    color: rgb(245, 245, 245);
    width: 90%;
}

#Inactive_Button {
    position: absolute;
    left: 90%;
    transform: translate(-90%, 0%);
    top: 158px;
    border-radius: 5px;
    height: 25px;
    width: 60px;
    font-size: 12px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    border: none;
    background-color: rgb(213, 45, 255);
    cursor: pointer;
    transition: .2s;

}

#Inactive_Button:hover {
    background-color: rgb(209, 25, 255);
}

/*Inactivity Container*/





/*Sign In Loaders*/

#Account_Created {
    z-index: 20;
    width: 50%;
    left: 25%;
    position: fixed;
    background-color: rgb(80, 80, 80);
    top: 0px;
    height: 30px;
    border-radius: 5px;
    display: none;
}

#Signed_In {
    position: fixed;
    width: 65%;
    background-color: rgb(80, 80, 80);
    top: 5px;
    left: 95%;
    transform: translate(-95%, 0%);
    height: 30px;
    z-index: 20;
    border-radius: 5px;
    display: none;
}

/*Sign In Loaders*/






/*Loader Area*/

#Loader_Area_Main {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, .5);
    display: none;
    z-index: 19;
}


#loader_main {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.loader_main {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid rgb(150, 150, 150);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation .6s linear infinite;
    position: absolute;
}


#Loader_Area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, .5);
    display: none;
    z-index: 19;
}

#loader_login {
    position: fixed;
    left: 49%;
    transform: translate(-49%, 0%);
    top: 200px;
}

.loader_login {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid rgb(150, 150, 150);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation .6s linear infinite;
    position: absolute;
    left: -35px;
    top: 7px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Loader Area*/



/*Login Notices*/
.Notice_Img {
    transform: scale(.5);
}

.Notice_text {
    font-family: "Gotham_Font", sans-serif;
    color: rgb(255, 19, 0);
    font-size: 10px;
}


#Pass_Notice_Login_Img {
    position: absolute;
    top: 136px;
    left: 30px;
    display: none;
}


#Pass_Wrong_Login_Notice {
    position: absolute;
    top: 132px;
    left: 55px;
    display: none;
}

/*Login Notices*/




/*Login_Area*/

#Login_Area {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(7, 7, 7);
    z-index: 16;
    display: block;
}

#Login_Video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    filter: blur(5px) brightness(50%);

}

#Logo_Sign {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%) scale(.9);
    top: 10px;

}

#SignIn_Title {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 65px;
    white-space: nowrap;
    background-color: rgb(15, 15, 15);
    width: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px solid rgb(20, 20, 20);
    display: block;

}

#Login_Container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 140px;
    width: 250px;
    height: 205px;
    background-color: rgb(15, 15, 15);
    border: 2px solid rgb(20, 20, 20);
    border-radius: 5px;
    display: block;
}


#email_Login_text {
    position: absolute;
    left: 30px;
    top: 10px;
}


.Sign_create_text {
    font-size: 12px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);

    letter-spacing: 1px;
}

.sign_create_input {
    font-family: "Gotham_Font", sans-serif;
    height: 20px;
    font-size: 12px;
    background-color: rgb(15, 15, 15);
    width: 180px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 5px;
    color: rgb(245, 245, 245);
}

.sign_create_input:focus {
    outline: 1px solid rgb(213, 45, 255);

}

#Login_Email_Input {
    position: absolute;
    top: 45px;
    left: 30px;
}

#Forgot_Pass {
    position: absolute;
    top: 75px;
    left: 125px;
    font-size: 10px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(213, 45, 255);
    cursor: pointer;

}

#pass_Login_text {
    position: absolute;
    left: 30px;
    top: 80px;
}

#Login_pass_Input {
    position: absolute;
    top: 115px;
    left: 30px;
}

#Sign_In_Button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 158px;
    border-radius: 5px;
    height: 25px;
    width: 180px;
    font-size: 12px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    border: none;
    background-color: rgb(213, 45, 255);
    cursor: pointer;

}

#Switch_Tabs {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 358px;
    width: 250px;
    height: 70px;
    background-color: rgb(15, 15, 15);
    border: 2px solid rgb(20, 20, 20);
    border-radius: 5px;
}

#New_Raven_text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -0%);
    font-family: "Gotham_Font", sans-serif;
    font-size: 12px;
    color: rgb(245, 245, 245);
    white-space: nowrap;
    display: block;

}

#Switch_Create_Account {
    color: rgb(213, 45, 255);
    cursor: pointer;

}


#Bottom_Links_Container {
    position: absolute;
    width: 230px;
    height: 30px;
    top: 470px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: space-between;
}


.Bottom_Links {
    font-family: "Gotham_Font", sans-serif;
    font-size: 10px;
    color: rgb(245, 245, 245);
    cursor: pointer;
    transition: .2s;

}

.Bottom_Links:hover {
    color: rgb(213, 45, 255);
    text-decoration: underline;
}

/*Login_Area*/

/*Create Account*/

#CreateAcc_Title {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 65px;
    white-space: nowrap;
    background-color: rgb(15, 15, 15);
    width: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px solid rgb(20, 20, 20);
    display: none;

}

#Create_Container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 140px;
    width: 250px;
    height: 275px;
    background-color: rgb(15, 15, 15);
    border: 2px solid rgb(20, 20, 20);
    border-radius: 5px;
    display: none;
}

#Create_Email_Input {
    position: absolute;
    top: 45px;
    left: 30px;
}

#Create_pass_Input {
    position: absolute;
    top: 115px;
    left: 30px;
}

#Pass_Notice_Create_Img {
    position: absolute;
    top: 66px;
    left: 30px;
    display: none;
}

#Pass_Wrong_Create_Notice {
    position: absolute;
    top: 62px;
    left: 55px;
    display: none;
}

#Pass_Fail_Create_Notice {
    position: absolute;
    top: 62px;
    left: 55px;
    display: none;
}

#Create_Acc_Button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 228px;
    border-radius: 5px;
    height: 25px;
    width: 180px;
    font-size: 12px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    border: none;
    background-color: rgb(213, 45, 255);
    cursor: pointer;


}


#Repass_Login_text {
    position: absolute;
    left: 30px;
    top: 150px;
}

#Create_Repass_Input {
    position: absolute;
    top: 185px;
    left: 30px;
}



#Login_Raven_text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -0%);
    font-family: "Gotham_Font", sans-serif;
    font-size: 12px;
    color: rgb(245, 245, 245);
    white-space: nowrap;
    display: none;

}

#Switch_Log_In {
    color: rgb(213, 45, 255);
    cursor: pointer;

}



/*Create Account*/


/*Notifs*/
#Connected_1 {
    display: none;

}

#Connected_0 {

    display: none;
}

#Connected_3 {
    display: none;

}

#Friend_Request_1 {
    display: none;

}

.connect_notif {
    position: fixed;
    width: 65%;
    background-color: rgb(80, 80, 80);
    top: 5px;
    left: 95%;
    transform: translate(-95%, 0%);
    height: 30px;
    z-index: 20;
    border-radius: 5px;
}

.notif_text {
    position: absolute;
    left: 60px;
    top: -8px;
    font-family: "Gotham_Font", sans-serif;
    font-size: 14px;
    color: rgb(245, 245, 245);

}

.notif_warn {
    position: absolute;
    left: 10px;
    top: 2px;
    transform: scale(.8);
}

.remove_notif {
    position: absolute;
    right: 5px;
    top: -1px;
    transform: scale(.3);
    cursor: pointer;
}


#Connected_to_text {
    position: absolute;
    left: 5%;
    top: 12%;
    width: 90%;
    height: 20px;
    z-index: 10;
    font-family: "Gotham_Font", sans-serif;
    font-size: 14px;
    color: rgb(65, 65, 65);
    display: none;
}


#Not_Online_Container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40%);
    top: 40%;
    z-index: 16;
    display: none;
}


#Disconnect_Img {
    position: relative;
    left: 35px;
    filter: brightness(60%);
}

#User_not_text {
    font-family: "Gotham_Font", sans-serif;
    font-size: 18px;
    color: rgb(50, 50, 50);
    text-align: center;
    position: relative;
    white-space: nowrap;

}

/*Notifs*/



/*Confirm Connection Tab*/
#Confirm_Remove_Friend {
    position: fixed;
    width: 25%;
    left: 50%;
    top: 40%;
    box-shadow: 0 0 100vw 100vh rgba(0, 0, 0, 0.8);
    transform: translate(0%, -50%);
    height: 200px;
    background-color: rgb(40, 40, 40);
    z-index: 16;
    display: block;
    transition: .5s;
    border-radius: 5px;
    display: none;
}

#Confirm_Remove_Friend_Loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(10, 10, 10, .5);
    z-index: 19;
    display: none;
}

#Error_Remove {
    position: absolute;
    left: 20px;
    top: 110px;
    color: rgb(255, 19, 0);
    font-family: "Gotham_Font", sans-serif;
    font-size: 10px;
    display: none;
}

#Loader_confirm_Remove {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}



#Warning_Connect_Img {
    position: absolute;
    left: 50%;
    transform: translate(0%, -50%);
    top: 20px;
}

#Chat_Request_text {
    position: absolute;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    font-size: 18px;
    left: 20px;
    top: 30px;
}

#Remove_Text_Warning {
    position: absolute;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(195, 195, 195);
    font-size: 12px;
    left: 20px;
    top: 70px;

}

#Button_Connect_Container {
    position: absolute;
    right: 110px;
    top: 155px;
}

#Join_Chat {
    position: absolute;
    left: 40px;
    font-size: 12px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    background-color: rgb(210, 0, 0);
    color: white;

    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    transform: .2s;
    transition: .2s
}

#Join_Chat:hover {
    background-color: rgb(255, 0, 0);
}


#Deny_Chat {
    position: absolute;
    right: -27px;
    font-size: 12px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    transform: .2s;
    transition: .2s
}

#Deny_Chat:hover {
    text-decoration: underline;
}

/*Confirm Connection Tab*/





/*Settings Tab*/

#Settings_Tab {
    position: fixed;
    left: calc(25% + 60px);
    top: 0px;
    width: calc(75% - 60px);
    height: calc(100%);
    background-color: rgb(15, 15, 15);
    transition: .2s;
    display: none;
    z-index: 15;
}


#Settings_Title {
    position: absolute;
    top: -10px;
    font-family: "Gotham_Font", sans-serif;
    color: white;
    font-size: 20px;

    left: 50%;
    transform: translate(-50%, 0%);
}


/*Settings Tab*/


/*Logout Tab*/
#Logout_Tab {
    position: fixed;
    left: calc(25% + 60px);
    top: 0px;
    width: calc(75% - 60px);
    height: calc(100%);
    background-color: rgb(0, 89, 255);
    transition: .2s;
    display: none;
    z-index: 15;

}

#Logout_Video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
    display: block;
}

#Logout_Container {
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: rgb(10, 10, 10);
    border: 2px solid rgb(70, 70, 70);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

#Logout_Img {
    position: absolute;
    left: 50%;
    top: 30px;
    filter: brightness(30%);
    transform: translate(-50%, -50%);
}

#Logout_Confirm_Text {
    font-family: "Gotham_Font", sans-serif;
    color: white;
    font-size: 14px;

    position: relative;
    top: 45px;
    text-align: center;
    width: 100%;

}

#Logout_Button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 100px;
    border-radius: 5px;
    height: 25px;
    width: 150px;
    font-size: 12px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    border: none;
    background-color: rgb(213, 45, 255);
    cursor: pointer;


}

/*Logout Tab*/



/*Add Friend Tab*/
#Add_Friend_Tab {
    position: fixed;
    left: calc(25% + 60px);
    top: 0px;
    width: calc(75% - 60px);
    height: calc(100%);
    background-color: rgb(15, 15, 15);
    transition: .2s;
    display: none;
    /*none*/
    z-index: 15;
}

#Loader_FR {
    background-color: rgb(10, 10, 10, .5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 19;
    display: none;
}


#Loader_FR_A {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.loader_Friend_FR_A {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid rgb(150, 150, 150);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation .6s linear infinite;
    position: absolute;
    left: -35px;
    top: 7px;
}


#loader_friend_tab {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 290px;
    width: 90%;
    height: 52%;
    background-color: rgb(10, 10, 10, .5);
    z-index: 19;
    display: none;
}

.loader_Friend_Add {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid rgb(150, 150, 150);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation .6s linear infinite;
    position: absolute;
    left: -35px;
    top: 7px;
}

#Title_Add_Friend {
    position: absolute;
    top: 10px;
    left: 50px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);

    font-size: 25px;
}


#Search_Bar_Add_FR {
    position: absolute;
    cursor: default;
    display: block;
    width: 90%;
    height: 130px;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 14;

}

#connect_IP_FR {
    font-family: "Gotham_Font", sans-serif;
    position: absolute;
    font-size: 12px;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0px;
    width: 85%;
    background-color: rgb(25, 25, 25);
    border: 1px solid rgb(70, 70, 70);
    color: rgb(245, 245, 245);
    font-size: 15px;

}

#Search_Ip_connect_FR {
    position: absolute;
    z-index: 14;
    transform: scale(.5);
    top: 4px;
    left: 5%;
}

#Friend_Request_FR {
    position: absolute;
    top: 7px;
    left: 86%;
    font-size: 12px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    background-color: rgb(176, 39, 255);
    color: white;

    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    cursor: pointer;
    transform: .2s;
    transition: .2s;
    white-space: nowrap;
}

#Friend_Request_FR:hover {
    background-color: rgb(162, 0, 255);
}

.Error_Friend_FR {
    font-family: "Gotham_Font", sans-serif;
    color: rgb(255, 19, 0);
    top: 35px;
    left: 10%;

    position: absolute;
    font-size: 10px;
}

#User_DNE_FR {
    display: none;
}

#User_Error_FR {
    display: none;
}

#User_Pending_FR {
    display: none;
}



#Reload_Pending {
    position: absolute;
    right: 8px;
    top: 5px;
    cursor: pointer;
    padding: 4px;
    transition: transform 0.5s ease;
}

#Reload_Sent {
    position: absolute;
    right: 8px;
    top: 5px;
    cursor: pointer;
    padding: 4px;
    transition: transform 0.5s ease;
}

#Friend_Tabs {
    position: absolute;
    top: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.Friends_Tab_Style {
    background-color: rgb(0, 0, 0, 0);
    font-family: "Gotham_Font", sans-serif;
    color: rgb(215, 215, 215);

    border: none;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    transition: .2s;

}



.Add_Friends_Tabs_Style {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 290px;
    width: 90%;
    height: 52%;
    background-color: rgb(20, 20, 20);
    overflow-y: auto;
    overflow-x: hidden;
}

#Added_Tab {
    display: none;
    /*block*/
}

#Pending_Tab {
    display: block;

}

#Sent_Tab {
    display: none;
}



#Pending_FR_Btn {
    background-color: rgb(40, 40, 40, 1);
    color: rgb(245, 245, 245);
}

.Pending_Notifs {
    position: relative;
    top: 307px;
    left: 400px;
    font-family: "Gotham_Font", sans-serif;
    font-size: 12px;
}

#Pending_add_1 {
    display: none;
    color: rgb(19, 219, 45);
    z-index: 20;
}

#Pending_add_3 {
    display: none;
    color: rgb(231, 22, 40);
    z-index: 20;
}

#Pending_deny_1 {
    display: none;
    color: rgb(19, 219, 45);
    z-index: 20;
}

#Pending_deny_3 {
    display: none;
    color: rgb(231, 22, 40);
    z-index: 20;
}

#Pending_Title {
    position: absolute;
    font-size: 18px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    left: 30px;
    top: 5px;
}

#Added_Title {
    position: absolute;
    font-size: 18px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    left: 30px;
    top: 5px;
}

#Sent_Title {
    position: absolute;
    font-size: 18px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    left: 30px;
    top: 5px;
}

.Pending_Sent_Style {
    position: relative;
    left: 20px;
    width: 500px;
    height: 80px;
    background-color: rgb(40, 40, 40, 0);
    margin-top: 20px;
    top: 50px;
    margin-bottom: 20px;
    transition: .2s;
}

.Pending_Sent_Style:hover {
    background-color: rgb(40, 40, 40);
}

.Account_Img_Sent {
    position: absolute;
    top: 25px;
    left: 40px;
}

.Account_Username_Sent {
    position: absolute;
    top: 10px;
    left: 85px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(215, 215, 215);

}

.Sent_Text_sec {
    position: absolute;
    top: 40px;
    left: 105px;
    font-size: 11px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
}

.Sent_Text {
    position: absolute;
    top: 20px;
    left: 300px;
    font-size: 13px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);

}

.alert_Img_Sent {
    position: absolute;
    top: 45px;
    left: 78px;
    transform: scale(.7);
}

.Pending_FR_Style {
    position: relative;
    left: 20px;
    width: 500px;
    height: 80px;
    background-color: rgb(40, 40, 40, 0);
    margin-top: 20px;
    top: 50px;
    margin-bottom: 20px;
    transition: .2s;
}

.Pending_FR_Style:hover {
    background-color: rgb(40, 40, 40);
}

.alert_Img {
    position: absolute;
    top: 45px;
    left: 78px;
    transform: scale(.7);
}

.FR_Text {
    position: absolute;
    top: 40px;
    left: 105px;
    font-size: 11px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);

}

.Account_Img {
    position: absolute;
    top: 25px;
    left: 40px;
}

.Account_Username {
    position: absolute;
    top: 10px;
    left: 85px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(215, 215, 215);

}

.Deny_Friend {
    position: absolute;
    font-size: 12px;
    top: 27px;
    left: 300px;
    font-family: "Gotham_Font", sans-serif;
    background-color: rgb(231, 22, 40);
    color: white;

    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    cursor: pointer;
    transform: .2s;
    transition: .2s;
    white-space: nowrap;
}

.Accept_Friend {
    position: absolute;
    font-size: 12px;
    top: 27px;
    left: 390px;
    font-family: "Gotham_Font", sans-serif;
    background-color: rgb(19, 219, 45);
    color: white;

    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    cursor: pointer;
    transform: .2s;
    transition: .2s;
    white-space: nowrap;
}

#added_none_text {
    font-family: "Gotham_Font", sans-serif;
    position: relative;
    text-align: center;
    color: rgb(90, 90, 90);
    font-size: 18px;
    top: 40%;
    display: block;

}

#pending_none_text {
    font-family: "Gotham_Font", sans-serif;
    position: relative;
    text-align: center;
    color: rgb(90, 90, 90);
    font-size: 18px;
    top: 40%;
    display: block;
}

#sent_none_text {
    font-family: "Gotham_Font", sans-serif;
    position: relative;
    text-align: center;
    color: rgb(90, 90, 90);
    font-size: 18px;
    top: 40%;
    display: block;
}

/*Add Friend Tab*/

/*Left Menu*/
#Left_Menu {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 60px;
    background-color: rgb(10, 10, 10);
    border-right: 2px solid rgb(30, 30, 30);
    /*background-color: rgb(0, 89, 255);*/
    z-index: 15;


}

/*
#Left_Menu_Video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
    display: none;
}
*/
/*Left Menu*/



#Logo_Icon {
    transform: scale(.6);
    border-bottom: 5px solid rgb(50, 50, 50);
    padding-bottom: 12px;
}

#Marker_Icon {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 17px;
    left: 27px;
}

#Main_Icon {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#Add_Friend {
    transform: scale(.45);
    cursor: pointer;

}

#Friend_Marker {
    transform: scale(.3);
    opacity: 0;
}

#Message_Icon {
    transform: scale(.45);
    cursor: pointer;
}

#Message_Marker {
    transform: scale(.3);
    opacity: 1;
}

#Logout_Icon {
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, 0%) scale(.8);
    position: absolute;
    bottom: 75px;
}

#Logout_Marker {
    left: 13px;
    transform: scale(.6);
    position: absolute;
    bottom: 92px;
    opacity: 0;
}

#Setting {
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, 0%) scale(.8);
    position: absolute;
    bottom: 15px;
}

#Settings_Marker {
    left: 13px;
    transform: scale(.6);
    position: absolute;
    bottom: 32px;
    opacity: 0;
}

/*Side Navigation Title*/



#Left_NavBar {
    position: absolute;
    top: 0px;
    left: 60px;
    background-color: rgb(15, 15, 15);
    width: 25%;
    height: calc(100% - 70px);
    transition: .2s;

}


#reload_friends_M {
    position: absolute;
    top: 15px;
    right: 50px;
    z-index: 15;
    cursor: pointer;
    transition: 0.5s ease;
    filter: brightness(200%);
}

#loader_friends_M {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgb(10, 10, 10, .5);
    display: none;
    z-index: 19;
}

.loader_Friend_main {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid rgb(150, 150, 150);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation .6s linear infinite;
    position: absolute;
    left: -35px;
    top: 7px;
}

#Loader_Friends_main {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-45%, -50%);
}

#Friends_Container {
    position: absolute;
    height: calc(100vh - 60px - 160px);
    width: 100%;
    top: 150px;
    overflow-y: auto;
    z-index: 16;
}

#Top_Title {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 60px;
    box-shadow: 0px 5px 10px rgb(10, 10, 10, .1);
}

#Main_Title {
    position: absolute;
    top: -7px;
    left: 30px;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);

}

#Top_Logo_Main {
    position: absolute;
    left: 120px;
    top: 12px;
}

#Setting_Btn {
    position: absolute;
    right: 15px;
    top: 12px;
    transform: scale(.6);
    cursor: pointer;
}

#search_icon_ip {
    position: absolute;
    z-index: 14;
    transform: scale(.4);
    top: 8px;
    left: 2%;
}


#Personal_Tab {
    position: fixed;
    background-color: rgb(30, 30, 30);
    width: 25%;
    height: 70px;
    z-index: 15;
    bottom: 0px;
}


#Username_Personal {
    top: 5%;
    font-size: 18px;
}

#Your_Username {
    position: absolute;
    left: 60px;
    font-size: 12px;
    top: 50%;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
}

#Online_Indicator_Personal {
    position: absolute;
    right: 30px;
    top: 40%;
}

.Status_Text {
    position: absolute;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    font-size: 10px;
    top: 25px;
    left: 60px;
}


.Status_Icon {
    position: absolute;
    top: 18px;
    left: 95px;
    transform: scale(.7);
}


.added_ip {
    position: relative;
    background-color: rgb(35, 35, 35, 0);
    width: 100%;
    height: 60px;
    top: 20px;
    margin-bottom: 10px;
    z-index: 14;
    left: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;
    transition: .2s;

}

.added_ip:hover {
    background-color: rgb(40, 40, 40);
}

.user_img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0%, -50%);
    width: 28px;
    height: 28px;
}

.user_ip {
    position: absolute;
    left: 60px;
    top: 1%;
    white-space: nowrap;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    font-size: 15px;

}

.delete_saved {
    position: absolute;
    right: 10px;
    top: 25%;
    transform: scale(.3);
    cursor: pointer;
}

#Search_IP {
    font-family: "Gotham_Font", sans-serif;
    position: absolute;
    font-size: 12px;
    border-radius: 5px;
    padding-left: 8%;
    padding-right: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 10px;
    width: 85%;
    background-color: rgb(15, 15, 15);
    border: 1px solid rgb(70, 70, 70);
    color: rgb(245, 245, 245);
}

#Add_IP {
    position: absolute;
    top: 50px;
    left: 50%;
    font-size: 12px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    background-color: rgba(51, 123, 255, 0.5);
    color: white;

    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    transform: .2s;
    transition: .2s;
}

#Add_IP:hover {
    background-color: rgb(0, 89, 255);
}

#Add_New_Tab {
    cursor: default;
    top: 80px;
}

#Add_New_Tab:hover {
    background-color: rgb(15, 15, 15);
}

#Loader_Area_Friend_Req {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, .5);
    z-index: 19;
    display: none;
}

#Loader_Friend_Request {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.loader_Friend {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid rgb(150, 150, 150);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation .6s linear infinite;
    position: absolute;
    left: -35px;
    top: 7px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#Search_Bar_Add {
    position: absolute;
    background-color: rgb(35, 35, 35);
    cursor: default;
    display: none;
    width: 350px;
    height: 130px;
    top: 130px;
    left: -60px;
    z-index: 16;

}


#Add_New_Img {
    position: absolute;
    right: 30px;

    top: 10px;
    transform: scale(.6);
    cursor: pointer;
}



#Add_New_Text {
    position: absolute;
    left: 20px;
    font-family: "Gotham_Font", sans-serif;

    color: rgb(245, 245, 245);
}

#Connect_Tab {
    position: absolute;
}

.Message_Count {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 19, 0);
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    text-align: center;

    left: 35px;
    top: -5px;

}

/*rgb(179, 0, 255)*/


/*Side Navigation Title*/


/*Scroll Bar*/
::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(60, 60, 60);
}


::-webkit-scrollbar-track {
    background: rgba(20, 20, 20, 0)
}


::-webkit-scrollbar-thumb:active {
    background-color: rgb(80, 80, 80);
}

/*Scroll Bar*/

/*Side Nav Scroll*/

#Scrollable_Nav {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(15, 15, 15);
    transition: .2s;
}


#friends_none_text_F {
    font-family: "Gotham_Font", sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: rgb(90, 90, 90);
    font-size: 18px;
    top: 300px;
    white-space: nowrap;
    z-index: 14;
}

/*Side Nav Scroll*/





/*Messaging Area*/



#Messaging_Area {
    position: absolute;
    left: calc(25% + 60px);
    top: 0px;
    height: 100%;
    width: calc(75% - 60px);
    transition: .2s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Msg_Video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;

}

/*Messaging Area*/





/*online - offline status*/
.offline-indicator {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 51, 0);
    border-radius: 50%;
    margin-right: 8px;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.offline-indicator.offline {
    animation: pulse 1s infinite;
}





.online-indicator {
    width: 15px;
    height: 15px;
    background-color: rgb(8, 236, 0);
    border-radius: 50%;
    margin-right: 8px;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.online-indicator.online {
    animation: pulse 1s infinite;
}

/*online - offline status*/



/*msg area*/

#Currently_Chatting {
    position: absolute;
    width: 97%;
    height: 10%;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: red;
    z-index: 14;
    background-color: rgb(15, 15, 15);
    border: 1px solid rgb(70, 70, 70);
}

#Current_User_Img {
    position: absolute;
    left: 2%;
    top: 25%;
    display: none;
}

#Current_User_Text {
    position: absolute;
    left: 7%;
    top: 5%;
    color: rgb(245, 245, 245);
    font-family: "Gotham_Font", sans-serif;

    font-size: 18px;
}

#Message {
    position: absolute;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(40, 40, 40);
    font-size: 30px;
    text-align: center;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
    display: none;
}

#Msg_Area {
    font-family: "Gotham_Font", sans-serif;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 50px;
    font-size: 14px;
    background-color: rgb(15, 15, 15);
    width: 89%;
    resize: none;
    border: 1px solid rgb(70, 70, 70);
    padding: 10px;
    padding-right: 7%;
    color: rgb(245, 245, 245);

}

#Msg_Area:focus {
    outline: none;
}

#Send_Img {
    position: absolute;
    bottom: 30px;
    left: 91%;
    transform: scale(.6);
    cursor: pointer;
}

#Receive_Area {
    position: absolute;
    overflow-y: auto;
    width: 97%;
    height: 73%;
    left: 50%;
    top: 19%;
    transform: translate(-50%, -10%);
    border: 1px solid rgb(70, 70, 70);
    background-color: rgb(15, 15, 15);
    overflow-x: hidden;
}

.rec_sent_style {
    list-style-type: none;
}

.msg_style_sent {
    position: relative;
    color: rgb(245, 245, 245);
    font-family: "Gotham_Font", sans-serif;
    font-size: 14px;
    background-color: rgb(0, 89, 255);
    /*rgb(134, 42, 255)*/
    /*rgb(42, 117, 255)*/
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 60px;
    left: 66%;
    width: 240px;

}

.msg_style_rec {
    position: relative;
    color: rgb(245, 245, 245);
    font-family: "Gotham_Font", sans-serif;
    font-size: 14px;
    background-color: rgb(60, 60, 60);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 60px;
    left: -30px;
    width: 240px;

}

#Sent {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: column-reverse;
    bottom: 10px;
    width: 92%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0px;
    top: 10px;
    z-index: 15;
    background-color: rgb(15, 15, 15);
    display: block;
}

.sent_time {
    background-color: rgb(10, 10, 10, 0);
    font-family: "Gotham_Font", sans-serif;
    font-size: 10px;

    color: rgb(90, 90, 90);
    top: 40px;
    position: absolute;
    left: 110px;
    white-space: nowrap;
}

.rec_time {
    background-color: rgb(10, 10, 10, 0);
    font-family: "Gotham_Font", sans-serif;
    font-size: 10px;

    color: rgb(90, 90, 90);
    top: 40px;
    position: absolute;
    left: 10px;
    white-space: nowrap;
}


/*Scroll Bar 1*/
::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(60, 60, 60);
}


::-webkit-scrollbar-track {
    background: rgba(20, 20, 20, 0)
}


::-webkit-scrollbar-thumb:active {
    background-color: rgb(80, 80, 80);
}

/*Scroll Bar 1*/

/*Loader 1*/


/*Loader 1*/

/*Connection_Area 1*/
#Disconnect {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 90%;
    z-index: 999;
}

#Disconnect_Button {
    font-family: "Gotham_Font", sans-serif;
    font-size: 14px;
    background-color: rgb(210, 0, 0);
    color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;

    cursor: pointer;
    transform: .2s;
    transition: .2s;


}

#Disconnect_Button:hover {
    background-color: rgb(255, 0, 0);
}

#Disconnect_Button:active {
    transform: scale(.98);
}


/*msg area*/

/*Connection Area*/


#Connection_Area {
    position: absolute;
    top: 0px;
    width: 25%;
    left: 75%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    display: none;
}

#Connection_Title {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 60px;

}

#Connection_Title_text {
    position: absolute;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
    left: 30%;
    top: -7px;
    transform: translate(-30%, 0%);
}

#Offline_Status {
    position: absolute;
    right: 20%;
    top: 22px;
    display: block;
}

#Online_Status {
    position: absolute;
    right: 20%;
    top: 22px;
    display: none;
}

#Connection_Information {
    position: absolute;
    top: 100px;
    width: 85%;
    height: 80px;
    background-color: rgb(35, 35, 35);
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -0%);
}

#Add_Connect_User {
    top: -5px;
    left: 10px;
    font-size: 18px;

    color: rgb(245, 245, 245);
    font-family: "Gotham_Font", sans-serif;
    position: absolute;
}

#Exit_Add_New {
    position: absolute;
    right: -2px;
    top: -2px;
    transform: scale(.5);
    cursor: pointer;
}

#connect_IP {
    font-family: "Gotham_Font", sans-serif;
    position: absolute;
    font-size: 12px;
    border-radius: 5px;
    padding-left: 8%;
    padding-right: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 50px;
    width: 85%;
    background-color: rgb(15, 15, 15);
    border: 1px solid rgb(70, 70, 70);
    color: rgb(245, 245, 245);
}

#Search_Ip_connect {
    position: absolute;
    z-index: 14;
    transform: scale(.4);
    top: 48px;
    left: 2%;
}

#Connect_Button {
    position: absolute;
    top: 90px;
    left: 50%;
    font-size: 12px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    background-color: rgb(0, 70, 201);
    color: white;

    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    transform: .2s;
    transition: .2s;
}

#Connect_Button:hover {
    background-color: rgb(0, 89, 255);
}


#Friend_Request {
    position: absolute;
    top: 90px;
    left: 20%;
    font-size: 12px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    background-color: rgb(176, 39, 255);
    color: white;

    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    transform: .2s;
    transition: .2s;
}

#Friend_Request:hover {
    background-color: rgb(162, 0, 255);
}

.Error_Friend {
    font-family: "Gotham_Font", sans-serif;
    color: rgb(255, 19, 0);
    top: 25px;
    left: 20px;

    position: absolute;
    font-size: 10px;
}

#User_DNE {
    display: none;
}

#User_Error {
    display: none;
}

#User_Pending {
    display: none;
}

#Connected_to {
    position: absolute;
    top: 130px;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    white-space: nowrap;
    color: white;

}

#Connected_to_IP {
    position: absolute;
    top: 160px;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);

}

#Marker {
    position: absolute;
    top: 215px;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 2px solid rgb(50, 50, 50);
    width: 80%
}

#Marker_2 {
    position: absolute;
    top: 315px;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 2px solid rgb(50, 50, 50);
    width: 80%
}

#Your_Ip {
    position: absolute;
    top: 220px;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    color: white;

}


#Your_Speed {
    position: absolute;
    top: 320px;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    color: white;
    white-space: nowrap;
}

#Internet_Speed_Actual {
    position: absolute;
    top: 360px;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, 0%);
    font-family: "Gotham_Font", sans-serif;
    color: rgb(245, 245, 245);
}

/*Connection Area*/